<style >
/* Reset and base styles */
* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: #0A0A0A;
    color: white;
    line-height: 1;
    font-size: 18px; /* Slightly larger base size for Crimson Text */
}

section {
    padding-left: 2em;
    padding-right: 2em;
}

/* Typography styles */
h2, h3, .section-label, .button {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 4.3rem;
    font-weight: 300;
}

/* Header styles */
.header {
}

.header_logo {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 2em;
    height: 1.3rem;
}

/* Hero banner */

.hero {
    position: relative;
    text-align: center;
}

.hero_title {
    text-align: left;
}

#hero_title {
    display: inline-block;
    vertical-align: middle;
}

#hero_arrow {
    position: absolute;
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: top;
    margin-top: 1.5em;
    padding-top: 2em;
}

#hero_banner {
}


.banner_text {
    position: absolute;
    bottom: 1.2em;
    left: 2em;
}

h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-align: left;
    z-index: 100;
    margin-left: 20px;
    margin-bottom: 0px;
    color: #09080C;
}

.banner_cta {
    position: absolute;
    bottom: 1em;
    right: 2.5em;
    display: inline-block;
}

.learn_more {
    z-index: 100;
    background-color: #E1E5F1;
    border: none;
    color: #09080C;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: .75em;
    font-weight: 700;
    border-radius: 2em;
}


/* Problem section */
.problem {
    margin-top: 7.5em;
    margin-bottom: 2em;
}

.section-label {
    color: #D5F91F;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.problem p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.8rem; /* Larger for Crimson Text */
    line-height: 1.1;
}


/* Solution section */
.solution {
    padding-top: 4rem;
    margin-top: 5em;
    background-color: #15131B;
}

.solution-grid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin-top: 2rem;
}
    
    #solution_copy {
        float: left;
    }

    .solution h2 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        letter-spacing: -0.01em;
    }

    .solution p {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 1rem; /* Larger for Crimson Text */
        line-height: 1.5;
    }

    .animation_caption {
        align-self: end;
    }

    #animation_caption {
        font-family: 'Space Grotesk', sans-serif;
        font-size: .65rem; /* Larger for Crimson Text */
        line-height: 1.5;
        text-align: left;
    }

/* Processing comparison */
    .processing-comparison {
        background-color: #15131B;
        padding-top: 2em;
    }

    video {
        border-radius: .5em;
    }

/* Beliefs section */
.beliefs {
    padding-top: 10rem;
    background-color: #15131B;
    font-family: 'Space Grotesk', sans-serif;
}

    .beliefs h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: 600;
        letter-spacing: -0.01em;
    }

.beliefs-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 2rem;
    padding-bottom: 5rem;
}

    .belief-card {
        padding: 1rem;
    }

    .belief-card h3 {
        font-size: 1.2rem;
        margin: 1rem 0;
        font-weight: 500;
        letter-spacing: -0.01em;
        width: 80%;
    }

    .belief_a {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-color: #FFFBFE;
    }

    .belief_b h3{
        line-height: 2;
    }

    .belief_c {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-color: #FFFBFE;
    }

    .icon {
        margin-top: 2em;
        height: 10%;
    }

.belief-card p {
    font-size: .65em;
    font-weight: 300;
    width: 80%;
}

.belief-icon {
    color: #4A3AFF;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Team section */
.team {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

    .team h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: 600;
        letter-spacing: -0.01em;
    }

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.team-photos {
    aspect-ratio: 1;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    border-radius: 2em 0em 0em 2em;
    height: 24rem;
    background-image: url('team_bg.png');
    background-size: cover;
}

.team_img {
    height: 22rem;
}

.team-content {
    background-color: #15131B;
    padding: 2em;
    height: 24rem;
    border-radius: 0em 2em 2em 0em;
}

.team-content p {
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 1.5rem;
    font-size: .85rem;
    line-height: 1.6;
}

.careers_break {
    margin-top:6em;
    margin-bottom:1em;
    margin-left: -2em;
    margin-right: -2em;
}

.career_cta {
    display:inline;
    margin-right: 0em;
}

.career_cta {
    font-family: 'Space Grotesk', sans-serif;
    font-size: .85rem;
    color: white;
}

/* Footer */
.footer {
    padding-top: 8rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: white;
}

.footer_logo {
    position: absolute;
    margin-top: -5em;
    height: 16px;
}

.footer_info {
    color: #252422;
    margin-bottom: -8em;
    font-size:.5em;
    font-family: 'Space Grotesk', sans-serif;
}

/* Responsive adjustments */


@media (max-width: 700px) {

    body {
        font-size: 16px;
        padding-left: 0em;
        padding-right: 0em;
    }

    .hero h1 {
        font-size: 2rem;
    }

    #hero_arrow {
        margin-top: 1em;
        padding-top: 1em;
    }

    #banner_img {
        content: url("hero_banner_mobile.png");
    }

    .banner_text {
        margin-right: 1em;
        position: absolute;
        bottom: -5em;
        left: 1em;
    }

    h4 {
        color: white;

    }

    .banner_cta {
        position: absolute;
        bottom: -4em;
        right: 2.5em;
        display: inline-block;
    }

    .learn_more {
        font-size: .9em;
    }

    .problem {
        margin-top: 15em;
        margin-bottom: 2em;
    }

    .problem p {
        font-size: 1.2rem;
    }

    .solution-grid {
        grid-template-columns: 100%;
    }

    .solution h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        letter-spacing: -0.01em;
    }
    .animation_caption {
        width: 65%;
        margin-bottom: -28rem;
        z-index: 100;
    }

    #animation_caption {
        font-size: 1em;
    }

    #animation_video {
        clip-path: inset(20px);
        border-radius: 2rem;
        margin-top: -2rem;
        margin-left: -1.5rem;
        align-content: center;
        width: 115%;
    }

    .beliefs h3 {
        font-size: 1.5rem;
    }

    .beliefs p {
        font-weight: 300;
        font-size: 1rem;
    }

    .beliefs-grid {
        grid-template-columns: 1fr;
    }

    .beliefs h2 {
        font-size: 2rem;
    }

    .belief_a {
        border-right: 0px;
        border-left: 0px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-color: #FFFBFE;
    }

    .belief_b h3 {
        line-height: 1;
    }

    .belief_c {
        border-right: 0px;
        border-left: 0px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-color: #FFFBFE;
    }

    .icon {
        height:20%;
    }

    .team-grid {
        grid-template-columns: 1fr;
    }

    .team h2 {
        font-size: 2rem;
    }

    .team-photos {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 3rem;
        padding-bottom: -1rem;
        margin-bottom: -4em;
        margin-left: -2rem;
        margin-right: 1rem;
        border-radius: 2em 2em 0em 0em;
        width: 100%;
        background-image: url('team_bg_mobile.png');
        background-size: cover;
    }

    .team_img {
        width:80%;
        height:auto;
        padding-left: 2em;
    }

    .team-content {
        font-size: 1.5em;
        background-color: #15131B;
        padding: 2rem;
        margin-left:-2rem;
        margin-right:2rem;
        padding-bottom: 2rem;
        margin-bottom:-1rem;
        border-radius: 0em 0em 2rem 2rem;
    }

    .careers_break {
        margin-top:2em;
        margin-bottom:2em;
        margin-left:-1.5em;
        margin-right:-1.5em;
    }
}

</style >
