<style >

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

:root {
    --obsidian: #09080C;
    --midnight: #252422;
    --purple: #15131B;
    --ivory: #FFFBFE;
    --slate: #E1E5F1;
    --lavender: #C6BFFA;
    --indigo: #5222FF;
    --volt: #D5F91F;
}

.obsidian {
    background-color: var(--obsidian);
}

.purple {
    background-color: var(--purple);
}

body {
    background-color: var(--obsidian);
    row-gap: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
}

.section-label {
    color: var(--volt);
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    font-weight: 500;
}

h1, h2, h3, h4, .section-label, p {
    font-family: "Space Grotesk", sans-serif;
}

h2 {
    font-size: 2rem;
    color: var(--ivory);
    margin-top: 1rem;
    margin-bottom: 0;
}

.mobile {
    display: none;
}


/* HEADER */
header{
}

.header_logo {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 1.3rem;
}

hr {
    margin: 0;
}


/* HERO */
.hero_title {
    display: flex;
    grid-template-columns: 60% 40%;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

#hero_arrow {
    height: 1.5rem;
    margin-top: 0.5rem;
}

h1 {
    margin: 0;
    font-size: 4.3rem;
    font-weight: 500;
    color: var(--ivory);
}

.hero_banner {
    display: grid;
    grid-template-columns: 50% 50%;
}

#banner_img {
    grid-column: 1 / -1;
}

.banner_text {
    margin-top: -6rem;
}

.banner_text h4 {
    font-size: .75rem;
    font-weight: 500;
    padding-left: 1rem;
}

.banner_cta {
    justify-self: end;
    align-self: start;
    margin-top: -2.5rem;
    padding-right: 1rem;
}

.learn_more {
    background-color: #E1E5F1;
    border-radius: 2em;
    font-family: 'Space Grotesk', sans-serif;
    font-size: .75em;
    font-weight: 700;
    color: var(--obsidian);
    text-decoration: none;
    padding-top: .75em;
    padding-bottom: .75em;
    padding-right: 1.1em;
    padding-left: 1.1em;
    z-index: 100;
}


/* PROBLEM */
.problem {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.problem p {
    width: 85%;
    color: var(--ivory);
    font-size: 1.6rem;
    line-size: 1.1;
}


/* SOLUTION */
.solution {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.solution-grid {
    display: grid;
    grid-template-columns: 45% 55%;
}

.solution_copy {
    color: var(--ivory);
}

.animation_caption {
    width: 30%;
    font-size: .75rem;
    color: var(--ivory);
    justify-self: end;
    align-self: end;
}

.solution_hr {
    grid-column: 1 / -1;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.animation {
    grid-column: 1 / -1;
    border-radius: 2rem;
}

/* BELIEFS */
.beliefs {
    padding-top: 6rem;
}
.beliefs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    padding-bottom: 8rem;
}

.belief-card {
    padding: 2rem;
    padding-right: 4rem;
    border-left: 1px solid var(--ivory);
    border-right: 1px solid var(--ivory);
}

.belief_b {
    border-left: 0px solid var(--ivory);
    border-right: 0px solid var(--ivory);
}

.icon {
    height: 3rem;
}

.beliefs p {
    color:var(--ivory);
    font-size: 0.7rem;
    margin-top: 0;
}

h3 {
    color: var(--ivory);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* TEAM */
.team {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.team_img_card {
    padding: 2rem;
    border-radius: 2rem 0rem 0rem 2rem;
    align-content: center;
}

.team_img {
    max-width: 100%;
}

.team-content {
    grid-column-start: 2;
    padding: 0;
    padding-top: 2rem;
    margin: 0;
    background-size: inherit;
    background-color: var(--purple);
    border-radius: 0rem 2rem 2rem 0rem;
}

    .team-content-text {
        color: var(--ivory);
        font-weight: 300;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .team-content hr {
        margin-top: 4rem;
    }

    .career_cta {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        color: var(--ivory);
        padding-left: 4rem;
        padding-right: 4rem;
    }

    a {
        color: var(--ivory);
    }

/* FOOTER */
.footer {
    padding-top: 8rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    border-top: 1px solid var(--ivory);
    background-color: var(--ivory);
}

.footer_logo {
    position: absolute;
    margin-top: -6em;
    height: 1rem
}

.footer_info {
    color: #252422;
    margin-bottom: -8em;
    font-size: .5em;
    font-family: 'Space Grotesk', sans-serif;
}


/* Responsive adjustments */

@media (max-width: 800px) {

    .hero_title {
        grid-template-columns: 80% 20%;
    }

    h1 {
        font-size: 1.9rem;
    }

    #hero_arrow {
        margin-top: -0.5rem;
        height: 1.8rem;
    }

    .solution_copy {
        grid-column: 1 / -1;
    }

    .animation_caption {
        order: 4;
        justify-self: start;
        width: 120%;
    }

    .solution_hr {
        order: 2;
    }

    .animation {
        order: 3;
    }

    .beliefs-grid {
        grid-template-columns: 1fr;
    }

    .belief-card {
        border-left: 0px;
        border-right: 0px;
        border-top: 1px solid var(--ivory);
        border-bottom: 1px solid var(--ivory);
    }

    .team-grid {
        grid-template-columns: 1fr;
    }

    .team_img_card {
        background-size: cover;
        border-radius: 2rem 2rem 0rem 0rem;
    }

    .team-content {
        grid-column-start: 1;
        border-radius: 0rem 0rem 2rem 2rem;
    }

    .team-content hr {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 550px) {
    .mobile {
        display: inherit;
    }

    .desktop {
        display: none;
    }

    h2 {
        font-size: 1.4rem;
    }

    .banner_text {
        margin-top: 2rem;
        color: var(--ivory)
    }

    .banner_text h4 {
        padding-left: 0;
        font-size: 0.8rem;
    }

    .banner_cta {
        margin-top: 4rem;
        padding-right: 0;
    }

    .problem p {
        font-size: 1.3rem;
        width: 100%;
    }

    .solution {
        padding-bottom: 2rem;
    }

    .belief-card {
        padding-left: 0;
        padding-right: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .beliefs p {
        font-size: 0.95rem;
        font-weight: 300;
    }

    .team-content-text {
        padding-left: 2rem;
        padding-right:2rem;
        font-size: 0.75rem;
    }

    .career_cta {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 0.75rem;
    }


}

</style >
