<style >

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

:root {
    --obsidian: #09080C;
    --midnight: #252422;
    --purple: #15131B;
    --ivory: #FFFBFE;
    --dark_ivory: #919191;
    --slate: #E1E5F1;
    --lavender: #C6BFFA;
    --indigo: #5222FF;
    --volt: #D5F91F;
}

.obsidian {
    background-color: var(--obsidian);
}

.purple {
    background-color: var(--purple);
}

body {
    background-color: var(--obsidian);
    row-gap: 0;
    margin-top: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.section-label {
    color: var(--volt);
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 51px;
    margin-bottom: 27px;
    letter-spacing: 0.05em;
}

h1, h2, h3, h4, .section-label, p {
    font-family: "Space Grotesk", sans-serif;
}

h2 {
    font-size: 56px;
    color: var(--ivory);
    margin: 0;
    padding-left: 52px;
    font-weight: 500;
}

.mobile {
    display: none;
}


/* HEADER */
header{
}

.header_logo {
    padding-left: 49px;
    padding-top: 24.5px;
    padding-bottom: 29px;
    height: 29px;
}

hr {
    margin: 0;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: var(--ivory); /* old IE */
    background-color: var(--dark_ivory); /* Modern Browsers */
}


/* HERO */
.hero_title {
    display: flex;
    grid-template-columns: 60% 40%;
    padding-top: 87px;
    padding-bottom: 62px;
    padding-left: 51px;
    line-height: 100px;
}

#hero_arrow {
    height: 31px;
    margin-top: 0;
}

h1 {
    margin: 0;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    color: var(--ivory);
}

.hero_banner {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 49px;
    padding-right: 49px;
    padding-bottom: 186px;
}

#banner_img {
    grid-column: 1 / -1;
}

.banner_text {
    margin-top: -110px;
    margin-left: 27px;
}

.banner_text h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}

.banner_cta {
    justify-self: end;
    align-self: start;
    margin-top: -53px;
    margin-right: 27px;
}

.learn_more {
    background-color: #E1E5F1;
    border-radius: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 100%;
    font-weight: 600;
    color: var(--obsidian);
    text-decoration: none;
    padding: 14px 22px;
    z-index: 100;
}

.learn_more:hover {
    cursor: pointer;
    opacity: 80%;
}


/* PROBLEM */
.problem {
    padding-bottom: 169px;
}

.problem p {
    width: 1220px;
    color: var(--ivory);
    font-size: 40px;
    line-height: 110%;
    margin-left: 52px;
    margin-bottom: 0;
}


/* SOLUTION */
.solution {
    padding-top: 212px;
    padding-bottom: 8rem;
}

.solution-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.solution_copy {
    color: var(--ivory);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    width: 617px;
    margin: 0;
    padding-top: 26px;
    padding-left: 52px;
    padding-bottom: 41px;
}

.animation_caption {
    width: 192px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: var(--ivory);
    align-self: end;
    justify-self: end;
    margin-bottom: 45px;
    padding-right: 51px;
}

.solution_hr {
    grid-column: 1 / -1;
    margin: auto;
    max-width: 1346px;
    margin-left: 50px;
    margin-right: 54px;
}

.animation_container {
    grid-column: 1 / -1;
    padding-top: 55px;
    padding-left: 47px;
    padding-right: 53px;
    padding-bottom: 306px;
}

.animation {
    border-radius: 22px;
}

/* BELIEFS */
.beliefs .section-label {
    margin-bottom: 29px;
}
.beliefs-grid {
    display: grid;
    grid-template-columns: 437px 464px 430px;
    padding-top: 49px;
    padding-left: 51px;
    padding-right: 58px;
    padding-bottom: 176px;
}

.belief-card {
    border-left: 1px solid var(--dark_ivory);
    border-right: 1px solid var(--dark_ivory);
    height:  483px;
}

.belief_a {
    padding-left: 29px;
}

.belief_b {
    border-left: 0px solid var(--ivory);
    border-right: 0px solid var(--ivory);
    padding-left: 36px;
}

.belief_c {
    padding-left: 36px;
}

.icon_a {
    height: 39px;
    padding-top: 94px;
    padding-bottom: 16px;
}

.icon_b {
    height: 41px;
    padding-top: 90px;
    padding-bottom: 19px;
    padding-left: 25px;
}

.icon_c {
    height: 42px;
    padding-top: 90px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.beliefs p {
    color: var(--ivory);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    margin-top: 0;
    width: 299px;
}

h3 {
    font-size: 32px;
    color: var(--ivory);
    margin:0;
    padding-bottom: 16px;
}

/* TEAM */
.team {
    padding-top: 139px;
}

.team .section-label {
    margin-bottom: 23px;
}

.team h2 {
    padding-bottom: 43px;
}

.team-grid {
    display: grid;
    grid-template-columns: 635px; 692px;
    padding-left: 52px;
    padding-right: 61px;
    padding-bottom: 202px;
}

.team_img_card {
    background-size: cover;
    border-radius: 22px 0px 0px 22px;
    align-content: center;
    padding: 70px 50px;
}

.team_img {
    max-width: 100%;
}

.team-content {
    grid-column-start: 2;
    background-size: inherit;
    background-color: var(--purple);
    border-radius: 0px 22px 22px 0px;
}

.team_copy {
    padding-top: 44px;
    padding-right: 75px;
    padding-left: 73px;
    padding-bottom: 156px;
}

.team-content-text {
    color: var(--ivory);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 0;
    margin-top: 24px;
}

.career_cta {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: var(--ivory);
    padding-top: 46px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 42px;
    margin-top: 0;
    margin-bottom: 0;
}

    a {
        color: var(--ivory);
    }

/* FOOTER */
.footer {
    border-top: 1px solid var(--ivory);
    background-color: var(--ivory);
    padding-top: 43px;
    padding-bottom: 42px;
}

.footer_logo {
    position: absolute;
    height: 24px;
    padding-left: 52px;
}

.footer_info {
    color: #8A8A8A;
    font-family: "Space Grotesk";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    padding-top: 110px;
    padding-left: 39px;
    margin: 0;
}


/* Responsive adjustments */

@media (max-width: 950px) {

    .mobile {
        display: inherit;
    }

    .desktop {
        display: none;
    }

    .container {
        max-width: 390px;
    }

    .section-label {
        font-size: 14px;
        margin-left: 24px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 30px;
        padding-left: 24px;
    }

    .header_logo {
        padding-left: 24px;
        padding-top: 20px;
        padding-bottom: 24px;
        height: 22px;
    }

    .hero_title {
        font-weight: 500;
        padding-top: 51px;
        padding-bottom: 45px;
        padding-left: 24px;
    }


    .hero_title h1 {
        padding-top: 15px;
        font-size: 36px;
        font-weight: 500;
        line-height: 110%;
    }

    .hero_banner {
        grid-template-columns: 160px 181px;
        padding-left: 25px;
        padding-right: 24px;
        padding-bottom: 143px;
        color: var(--ivory);
    }

    .banner_text {
        font-weight: 500;
        margin-top: 22px;
        margin-left: 0px;
    }

    .banner_text h4 {
        height: 64px;
    }

    .banner_cta {
        justify-self: end;
        align-self: start;
        margin-top: 66px;
        margin-right: 0px;
    }

    .learn_more {
        background-color: #E1E5F1;
        border-radius: 100px;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 16px;
        z-index: 100;
    }

    .problem {
        padding-bottom: 217px;
    }

    .problem .section-label {
        margin-bottom: 29px;
    }

    .problem p {
        width: 341px;
        height: 319px;
        font-size: 24px;
        margin-left: 25px;
    }
    .solution {
        padding-top: 69px;
        padding-bottom: 140px;
    }

    .solution-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .solution_copy {
        font-size: 18px;
        width: 343px;
        margin: 0;
        padding-top: 25px;
        padding-left: 24px;
        padding-bottom: 28px;
    }

    .animation_caption {
        width: 192px;
        font-size: 16px;
        align-self: start;
        justify-self: start;
        margin-bottom: 0;
        padding-right: 0px;
        padding-left: 24px;
        margin-top: 0;
    }

    .solution_hr {
        grid-column: 1 / -1;
        margin-left: 24px;
        margin-right: 25px;
    }

    .animation_container {
        grid-column: 1 / -1;
        padding-top: 44px;
        padding-left: 24px;
        padding-right: 25px;
        padding-bottom: 31px;
    }

    .animation {
        border-radius: 22px;
    }


    /* BELIEFS */
    .beliefs .section-label {
        margin-bottom: 25px;
    }

    .beliefs-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 296px 297px 280px;
        padding-top: 34px;
        padding-left: 24px;
        padding-right: 58px;
        padding-bottom: 211px;
    }

    .belief-card {
        border-top: 1px solid var(--dark_ivory);
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid var(--dark_ivory);
        padding-left: 0;
        height: auto;
        margin-bottom: -1px;
    }

    .beliefs h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 110%;
    }

    .belief-card p {
        margin-bottom: 0;
    }

    .belief_a {
        padding-bottom: 70px;
    }

    .icon_a {
        height: 39px;
        padding-top: 44px;
        padding-bottom: 16px;
        padding-left: 0px;
    }

    .icon_b {
        height: 41px;
        padding-top: 44px;
        padding-bottom: 19px;
        padding-left: 0px;
    }

    .icon_c {
        height: 42px;
        padding-top: 44px;
        padding-bottom: 16px;
        padding-left: 3px;
    }

    /* TEAM */
    .team {
        padding-top: 78px;
    }

    .team-grid {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 24px;
        margin-right: 24px;
        grid-template-columns: 1fr;
    }

    .team_img_card {
        padding: 0px;
        width: 342px;
        height: 360px;
        border-radius: 20px 20px 0px 0px;
    }

    .team_img {
        width: auto;
    }

    .team-content {
        grid-column-start: 1;
        border-radius: 0px 0px 20px 20px;
    }

    .team_copy {
        padding-top: 37px;
        padding-left: 22px;
        padding-right: 21px;
        padding-bottom: 30px;
    }

    .team-content-text {
        font-size: 17.4px;
    }

    .career_cta {
        padding-top: 45px;
        padding-left: 21px;
        padding-right: 0px;
        padding-bottom: 37px;
        font-size: 16px;
        font-weight: 300;
    }

    .career_cta a{
        font-weight: 600;
    }
    

}

</style >

}

</style >
